@font-face {
  font-family: "Ah Moharram";
  src: url("/font/Ah-moharram-bold.ttf");
}

@font-face {
  font-family: "Al-Battar";
  src: url("/font/ae_AlBattar.ttf");
}

@font-face {
  font-family: "Al-Jazeera";
  src: url("/font/Aljazeera.ttf");
}

@font-face {
  font-family: "Al-Watan Headlines";
  src: url("/font/AlWatanHeadlines-Bold.ttf");
}

@font-face {
  font-family: "Ara Aqeeq";
  src: url("/font/AraAqeeq-Bold.ttf");
}

@font-face {
  font-family: "Arabics";
  src: url("/font/BArabics.ttf");
}

@font-face {
  font-family: "Basim Marah Beh";
  src: url("/font/Basim Marah Beh Light.ttf");
}

@font-face {
  font-family: "Boutros Art";
  src: url("/font/BoutrosART-Medium.otf");
}

@font-face {
  font-family: "Cocon";
  src: url("/font/cocon.otf");
}

@font-face {
  font-family: "Diwan";
  src: url("/font/Diwanltr.ttf");
}

@font-face {
  font-family: "Edilbi Souria";
  src: url("/font/EdilbiSouria.ttf");
}

@font-face {
  font-family: "Fanni";
  src: url("/font/Fanni.ttf");
}

@font-face {
  font-family: "Farsi";
  src: url("/font/Frsspbl.ttf");
}

@font-face {
  font-family: "Hacen Saudi Arabia";
  src: url("/font/HacenSaudiArabia.ttf");
}

@font-face {
  font-family: "Hamada";
  src: url("/font/Hamada_light_font.ttf");
}

@font-face {
  font-family: "Hayah";
  src: url("/font/Hayah.otf");
}

@font-face {
  font-family: "Ibtisam";
  src: url("/font/HSN_Ibtisam.ttf");
}

@font-face {
  font-family: "Khat Thuluth";
  src: url("/font/Khat Thuluth.TTF");
}

@font-face {
  font-family: "Khayal";
  src: url("/font/Khayal_Demo.ttf");
}

@font-face {
  font-family: "Maghribi Assile";
  src: url("/font/Maghribi Assile.ttf");
}

@font-face {
  font-family: "Naskh";
  src: url("/font/AdobeNaskh-Medium.otf");
}

@font-face {
  font-family: "Noora";
  src: url("/font/M Unicode Noora.ttf");
}

@font-face {
  font-family: "Sadiyah";
  src: url("/font/HSN_sadiyah.ttf");
}

@font-face {
  font-family: "Sardar Hoor";
  src: url("/font/A Sardar Hoor otf.otf");
}

@font-face {
  font-family: "Thuluth";
  src: url("/font/A.Thuluth_p30download.com.ttf");
}

@font-face {
  font-family: "Uthmanic Hafs";
  src: url("/font/UthmanicHafs1 Ver09.otf");
}
